<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EditProfile</title>
    <link href="/static/grumblr/bootstrap_css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/grumblr/css/editProfile.css"/>
</head>
<body>
    <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Grumblr</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'edit' %}">Settings</a></li>
                <li><a href="{% url 'myProfile' %}">MyProfile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
          </div>
    </nav>
    </div>
    <div class="top">
          <a href="{% url 'myProfile' %}"><img id="avtar" src="{{ user.last_name }}" alt="avatar of {{ user.first_name }}"></a>
          <a href="{% url 'myProfile' %}" class="user-name">{{ user.username}}</a>
    </div>
    <div class="register_div1 ">
        {% for error in errors %}
            <p class="bg-danger err-msg"><span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}</p>
        {% endfor %}
        {% if msg %}
           <p class="bg-success err-msg"><span class="glyphicon glyphicon-ok-sign"></span>{{ msg }}</p>
        {% endif %}
        <span id="title">Edit You Profile</span><br/>
        <form method="POST" action="{% url 'edit' %}">  
        	<div class="register_div2">
            	<p>
                  <span>First Name:
                  	<input name="firstname" class="r1" type="text" value="{{user.first_name}}">
                  </span>
                </p>
            	<p>
                  <span>Last Name: 
                    <input name="lastname" class="r1" type="text"  value="{{newUser.photopath}}">
                  </span>
                </p>
            </div>
        	<span id="register_span">---------Now Re_Edit Your Email & Password---------</span><br/><br/>
            <div class="register_div3">
                <span class="span1">Email:</span><br/>
                <input name="email" type="email" class="r2" value="{{ user.email}}"><br/>
                <span class="span2">This is what you'll use to login.</span>
            </div>
            <div class="register_div3">
                <span class="span1">Old password:</span><br/>
                <input name="old" type="text" class="r2" placeholder="Enter old password"><br/>
                <span class="span2">It is used to verify your identification.</span>
            </div>
            <div class="register_div3">
                <span class="span1">Choose a password:</span><br/>
                <input name="password1" type="password" class="r2" placeholder="password"><br/>
                <span class="span2">Minimum of 8 characters in length.</span>
            </div>
            <div class="register_div3">
                <span class="span1">Re-enter password:</span><br/>
                <input name="password2" type="password" class="r2" placeholder="password"><br/>
            </div>
        	<p><input id="button1" type="submit" value="Submit"></p>
        	{% csrf_token %}
        </form>
    </div>
</body>
</html>
