<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>register</title>
  <link href="/static/grumblr/bootstrap_css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/grumblr/css/register.css"/>
</head>
<body>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      	<div class="navbar-header">
       	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Grumblr</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="register_div1">
    <span id="title">Registeration</span><br/>
    {% for error in errors %}
      <p class="bg-danger err-msg">
      	<span class="glyphicon glyphicon-exclamation-sign"></span>
        {{error}}
      </p>
    {% endfor %}
    <form method="POST" action="{% url 'register' %}">
      <div class="register_div2">
        <p>
          <span>First Name:
            <input name="firstname" class="r1" type="text" placeholder="First name" value="{{firstname}}">
          </span>
        </p>
        <p>
          <span>Last Name: 
            <input name="lastname" class="r1" type="text"  placeholder="Last name" value="{{lastname}}">
          </span>
        </p>
        <p>
          <span>Email: 
            <input name="email" class="r1" type="email"  placeholder="Email" value="{{email}}">
          </span>
        </p>           
      </div>
      <span id="register_span">Now choose a username & password</span><br/><br/>
      <div class="register_div3">
        <span class="span1">Username:</span><br/>
        <input name="username" type="text" class="r2" placeholder="Username" value="{{ username }}">
        <br/>
        <span class="span2">This is what you'll use to login.</span>
      </div>
      <div class="register_div3">
        <span class="span1">Choose a password:</span><br/>
        <input name="password1" type="password" class="r2" placeholder="password"><br/>
        <span class="span2">Minimum of 8 characters in length.</span>
      </div>
      <div class="register_div3">
        <span class="span1">Re-enter password:</span><br/>
        <input name="password2" type="password" class="r2" placeholder="password"><br/>
        <a href="#" id="why">&nbsp;Why do I need to provide this?</a>
      </div>
      <p><input id="button1" type="submit" value="Sign Up"></p>
      {% csrf_token %}
    </form>
  </div>
</body>
</html>