<!doctype html>
<html>
<head>
<meta charset="UTF-8">
  {% load staticfiles %}
{% block title %}
{% endblock title %}
<link href="{% static 'grumblr/bootstrap_css/bootstrap.min.css' %}" rel="stylesheet">
{% block css_reference %}
{% endblock css_reference %}
</head>
<body>
<div>
  <span class="hide" id="update_time">{{update_time}}</span>
  <span class="hide" id="stream">{{stream}}</span>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'home' %}">Grumblr</a> </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'follower' %}">MyFollower</a></li>
          <li><a href="{% url 'edit' %}">Settings</a></li>
          <li><a href="{% url 'myProfile' %}">MyProfile</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <form class="navbar-form navbar-right" method="GET" action="{% url 'search' %}">
          <button type="submit" class="btn btn-default pull-right">Go</button>
          <input name="keyword" type="text" class="form-control pull-right" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>
</div>
{%block left %}

<div class="div2"> <img id="image1" src="{% static 'grumblr/images/111.jpg' %}" alt="no image"/> </div>
<div class="divsum">
  <div class="div3">
    <input type="button" class="button2" value="About" >
    <br/>
    <input type="button" value="Grumblr" onclick="location.href='{% url 'home' %}'">
    <br/>
    <input type="button" value="My Profile" onclick="location.href='{% url 'myProfile' %}'">
    <br/>
    <input type="button" value="All Posts" onclick="location.href='{% url 'home' %}'">
    <br/>
    <input type="button" value="Help" >
    <br/>
  </div>
  {% endblock left%}
  {% block global %}
  <div class="div4"> {% for error in errors %}
    <p class="bg-danger err-msg"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error }}</p>
    {% endfor %}
    {% for field in addPost.visible_fields %}
    {% for error in field.errors %}
    <p class="bg-danger err-msg"> <span class="glyphicon glyphicon-exclamation-sign"></span>{{ error }} </p>
    {% endfor %}
    {% endfor %}
    <form method="POST" action="{% url 'add' %}">
      {% for field in addPost.visible_fields %}
      {{ field }}
      {% endfor %}
      <input class="button1" type="submit" value="Post Message" >
      <input class="button1" type="button" value="Upload Photos">
      <br/>
      <br/>
      <span class="hint">(42 characters or less)</span> {% csrf_token %}
    </form>
    {% if keyword %}
    <p class="bg-success err-msg"> <span class="glyphicon glyphicon-ok-sign"></span> Search result for "{{ keyword }}": </p>
    {% endif %}
    <div id="post-list">
    {% for post in posts %}
    <div class="single" id="post-{{post.id}}">
      <div class="div5"> <img src="{% url 'getAvatar' post.user.id %}" alt="no image" onclick="location.href='{% url 'otherProfile' post.user.id %}'"> <a href="{% url 'otherProfile' post.user.id %}" >&nbsp; {{post.user.username}}</a><br/>
        <input class="time" type="text" readonly value="{{post.time}}">
        <br/>
        <input class="textarea1" type="text" readonly name="text" value="{{post.content}}">
      </div>
      <div>
        <ul class="faceul">
          <li>
            <button type="button" class="btn btn-primary btn-xs reply-btn" flag="other" data="{{ post.id }}"> <span class="glyphicon glyphicon-pencil"></span> Reply </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary btn-xs like-btn" gid="{{ post.id }}">
              <span class="glyphicon glyphicon-thumbs-up"></span> <span>Like</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
      <div class="reply-box" data="{{post.id}}">
        <div class="arrow"></div>
          <ul id="reply-list-{{post.id}}" class="list-unstyled"></ul>
          <div id="your-reply">
              <span>Enter Your Reply:</span>
              <p class="bg-danger" id="reply-err-{{post.id}}"></p>
              <form action="{% url 'reply' %}" id="comment-form-{{post.id}}" method="POST">
                  <input id="reply-text-{{post.id}}" name="text" type="text" class="form-control" placeholder="add your comment">
                  <button class="submit-reply-btn btn btn-primary btn-xs pull-right" data="{{post.id}}">Submit</button>
                    {% csrf_token %}
              </form>
          </div>
      </div>
    {% endfor %}
      </div>
  </div>
  {% endblock global%}
  {% block friend %}
  <div class="right">
    <div class="find">
      <div id="item">
        <h2>Finding more friend?</h2>
      </div>
      <div  class="div9"> <span class="title1">Recommend Friends</span><br/>
        {% for unfollower in unfollowers %}
        <div class="list"> {% if unfollower != newUser %}
          <ul class="faceul3">
            <li> <img src="{% url 'getAvatar' unfollower.user.id %}" alt="no image" onclick="location.href='{% url 'otherProfile' unfollower.user.id %}'"><br/>
              <a href="{% url 'otherProfile' unfollower.user.id %}" >{{unfollower.user.username}}</a> </li>
          </ul>
          {% endif %} </div>
        {% endfor %} </div>
      <div  class="div9"> <span class="title1">My Follower</span><br/>
        {% for follower in followers %}
        <div class="list">
          <ul class="faceul3">
            <li> <img src="{% url 'getAvatar' follower.user.id %}" alt="no image" onclick="location.href='{% url 'otherProfile' follower.user.id %}'"><br/>
              <a href="{% url 'otherProfile' follower.user.id %}" id="username">{{follower.user.username}}</a> </li>
          </ul>
        </div>
        {% endfor %} </div>
    </div>
  </div>
</div>
{% endblock friend %}
    <script src="{% static 'grumblr/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'grumblr/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'grumblr/js/global_stream.js' %}"></script>
  {% block content %}
  {% endblock content %}

</body>
</html>
