{% extends "grumblr/base2.html" %}
<html>
<head>
<meta charset="UTF-8">
{% block title %}
<title>profile</title>
{% endblock title %}
{% block css_reference %}
<link rel="stylesheet" type="text/css" href="/static/grumblr/css/profile.css"/>
{% endblock css_reference %}
</head>
<body>
{% block global%}
{% endblock global%}
{%block left %} <span class="span2"><span class="font1">Weclome to {{user.username}}'s House</span></span>
<div class="div1"> {% if user.id != login_user.id %}
  <div class="follow"> <a href="/follow/{{user.id}}">
    <button type="button" class="btn btn-primary btn-xs follower"> <span class="glyphicon glyphicon-plus"> </span> {% if following %} Unfollow {% else %} Follow {% endif %} </button>
    </a> </div>
  {% endif %}
  <div class="div3">
    <form method="GET" action="{% url 'edit' %}">
      <span id="id1"> Personal information</span>
      <div class="div5"> <img id="image1" src="{% url 'getAvatar' user.id %}" alt="no image"> <span>
        <input class="word1" type="text" value="First Name:" readonly>
        <input class="word2" type="text" value="{{user.first_name}}" readonly>
        </span> <span>
        <input class="word1" type="text" value="Last Name:" readonly>
        <input class="word2" type="text" value="{{user.last_name}}" readonly>
        </span> <span>
        <input class="word1" type="text" value="Username:" readonly>
        <input class="word2" type="text" value="{{user.username}}" readonly>
        </span> </div>
      <div><span>
        <input class="word1" type="text" value="Email:" readonly>
        <input class="word4" type="text" value="{{user.email}}" readonly>
        </span><br/>
        <span>
        <input class="word1" type="text" value="Age:" readonly>
        <input class="word4" type="text" value="{{ newUser.age }}-years-old" readonly>
        </span><br/>
        <span>
        <input class="word1" type="text" value="Website:" readonly>
        <a class="word4" type="text" href="#">http://www.{{user.username}}.com</a> </span> </div>
      <span>
      <input class="word1" type="text" value="Short_bio:" readonly>
      <br/>
      <textarea id="textarea1" name="txt" readonly> {{newUser.bio}} </textarea>
      </span><br/>
      {% if user.id == login_user.id %}
      <input class="button1" type="submit" value="Edit">
      {% endif %}	
      {% csrf_token %}
    </form>
  </div>
  {% endblock left %}
  {% block content %}
  <div class="div4"> {% for post in posts %}
    <div class="single">
      <div class="div6"> <img src="{% url 'grumblr.views.get_avatar' post.user.id %}" alt="no image"> <a href="{% url 'grumblr.views.other_profile' post.user.id%}" class="name">{{post.user.username}}</a><br/>
        <input class="time" type="text" value="{{post.time}}">
        <br/>
        <textarea class="textarea1" name="text" >{{post.content}}</textarea>
      </div>
      <div>
        <ul class="faceul2">
          <li>
            <button type="button" class="btn btn-primary btn-xs reply-btn" data="{{ post.id }}"> <span class="glyphicon glyphicon-pencil"> </span> Reply </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary btn-xs reply-btn" data="{{ post.id }}"> <span class="glyphicon glyphicon-thumbs-up"></span>Like </button>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %} </div>
</div>
{% if user.id == login_user.id %}
<div  class="div2"> <span id="title1">My Follower</span><br/>
  {% for follower in followers %}
  <div class="list">
    <ul class="faceul3">
      <li> <img src="{% url 'grumblr.views.get_avatar' follower.user.id %}" alt="no image" onclick="location.href='{% url 'otherProfile' follower.user.id %}'"><br/>
        <a href="/OtherProfile/{{follower.user.id}}" id="username">{{follower.user.username}}</a> </li>
    </ul>
  </div>
  {% endfor %} </div>
{% endif%}
{% endblock content %}
{% block friend%}
{% endblock friend%}
</body>
</html>