{% extends "grumblr/base2.html" %}
<html>
<head>
<meta charset="UTF-8">
{% block title %}
<title>profile</title>
{% endblock title %}
{% block css_reference %}
  {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'grumblr/css/profile.css' %}"/>
{% endblock css_reference %}
</head>
<body>
{% block global%}
{% endblock global%}
{%block left %} <span class="span2"><span class="font1">Weclome to {{user.username}}'s House</span></span>
<div class="div1"> {% if user.id != login_user.id %}
  <div class="follow"> <a href="{% url 'follow' user.id %}">
    <button type="button" class="btn btn-primary btn-xs follower"> <span class="glyphicon glyphicon-plus"> </span> {% if following %} Unfollow {% else %} Follow {% endif %} </button>
    </a> </div>
  {% endif %}
  <div class="div3">
    <form method="GET" action="{% url 'edit' %}">
      <span id="id1"> Personal information</span>
      <div class="div5"> <img id="image1" src="{% url 'getAvatar' user.id %}" alt="no image"> <span>
        <input class="word1" type="text" value="First Name:" readonly>
        <input class="word2" type="text" value="{{user.first_name}}" readonly>
        </span> <span>
        <input class="word1" type="text" value="Last Name:" readonly>
        <input class="word2" type="text" value="{{user.last_name}}" readonly>
        </span> <span>
        <input class="word1" type="text" value="Username:" readonly>
        <input class="word2" type="text" value="{{user.username}}" readonly>
        </span> </div>
      <div><span>
        <input class="word1" type="text" value="Email:" readonly>
        <input class="word4" type="text" value="{{user.email}}" readonly>
        </span><br/>
        <span>
        <input class="word1" type="text" value="Age:" readonly>
        <input class="word4" type="text" value="{{ newUser.age }}-years-old" readonly>
        </span><br/>
        <span>
        <input class="word1" type="text" value="Website:" readonly>
        <a class="word4" type="text" href="#">http://www.{{user.username}}.com</a> </span> </div>
      <span>
      <input class="word1" type="text" value="Short_bio:" readonly>
      <br/>
      <textarea id="textarea1" name="txt" readonly> {{newUser.bio}} </textarea>
      </span><br/>
      {% if user.id == login_user.id %}
      <input class="button1" type="submit" value="Edit">
      {% endif %}	
      {% csrf_token %}
    </form>
  </div>
  {% endblock left %}
  {% block content %}
  <div id="post-list">
  <div class="div4"> {% for post in posts %}
    <div class="single">
      <div class="div6"> <img src="{% url 'getAvatar' post.user.id %}" alt="no image"> <a href="{% url 'otherProfile' post.user.id%}" class="name">{{post.user.username}}</a><br/>
        <input class="time" type="text" readonly value="{{post.time}}">
        <br/>
        <input class="textarea1"type="text" readonly name="text" value="{{post.content}}">
      </div>
      <div>
        <ul class="faceul2">
          <li>
            <button type="button" class="btn btn-primary btn-xs reply-btn" data="{{ post.id }}"> <span class="glyphicon glyphicon-pencil"> </span> Reply </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary btn-xs reply-btn" data="{{ post.id }}"> <span class="glyphicon glyphicon-thumbs-up"></span>Like </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="reply-box" data="{{post.id}}">
        <div class="arrow"></div>
          <ul id="reply-list-{{post.id}}" class="list-unstyled"></ul>
          <div id="your-reply">
              <span>Enter Your Reply:</span>
              <p class="bg-danger" id="reply-err-{{post.id}}"></p>
              <form action="{% url 'reply' %}" id="comment-form-{{post.id}}" method="POST">
                  <input id="reply-text-{{post.id}}" name="text" type="text" class="form-control" placeholder="add your comment">
                  <button class="submit-reply-btn btn btn-primary btn-xs pull-right" data="{{post.id}}">Submit</button>
                    {% csrf_token %}
              </form>
          </div>
      </div>
    {% endfor %} </div>
    </div>
</div>
{% if user.id == login_user.id %}
<div  class="div2"> <span id="title1">My Follower</span><br/>
  {% for follower in followers %}
  <div class="list">
    <ul class="faceul3">
      <li> <img src="{% url 'getAvatar' follower.user.id %}" alt="no image" onclick="location.href='{% url 'otherProfile' follower.user.id %}'"><br/>
        <a href="{% url 'otherProfile' follower.user.id %}" id="username">{{follower.user.username}}</a> </li>
    </ul>
  </div>
  {% endfor %} </div>
{% endif%}
{% endblock content %}
{% block friend%}
{% endblock friend%}
</body>
</html>