{% extends "grumblr/base1.html" %}
<html>
<head>
  <meta charset="UTF-8">
    {% block title %}
  <title>register</title>
    {% endblock title %}
  {% block css_reference %}
  <link rel="stylesheet" type="text/css" href="/static/grumblr/css/register.css"/>
  {% endblock css_reference%}
</head>
<body>
{% block nav_title %}
    <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Help</a></li>
{% endblock nav_title %}

{% block content %}
  <div class="register_div1">
    <span id="title">Registeration</span><br/>
    {% for field in registerForm.visible_fields %}
    {% for error in field.errors %}
      <p class="bg-danger err-msg">
      	<span class="glyphicon glyphicon-exclamation-sign"></span>
        {{error}}
      </p>
    {% endfor %}
    {% endfor %}
    {% for error in registerForm.non_field_errors %}
      <p class="bg-danger err-msg">
      	<span class="glyphicon glyphicon-exclamation-sign"></span>
        {{error}}
      </p>
    {% endfor %}
    <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
      {% for field in registerForm.visible_fields %}
      <div class="register_div2">
        <p>
          {{ field.label }}
          {{field}}
        </p>
        </div>
       {% endfor %}
      <p><input id="button1" type="submit" value="Sign Up"></p>
      {% csrf_token %}
    </form>
  </div>
{% endblock content %}
</body>
</html>