{% extends "grumblr/base1.html" %}
<html>
    <head>
    <meta charset="UTF-8">
        {% block title %}
        <title>login</title>
        {% endblock title %}
    {% block css_reference %}
        <link rel="stylesheet" type="text/css" href="/static/grumblr/css/login.css"/>
    {% endblock css_reference %}
</head>
<body>
    {% block content %}
    <div class="login_div1">
        <span class="signIn">Send Email</span><br/>
         {% for field in emailForm.visible_fields %}
         {% for error in field.errors %}
              <span id="err-msg">
                <span id="size" class="glyphicon glyphicon-exclamation-sign"></span>
                  {{error}}
              </span>
        {% endfor %}
        {% endfor %}
        {% for error in emailForm.non_field_errors %}
            <p class="bg-danger err-msg">
      	        <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{error}}
            </p>
        {% endfor %}
        {% if message %}
          <span id="err-msg">
                <span id="size" class="glyphicon glyphicon-ok-sign"></span>{{message}}
          </span>
        {% endif %}
        <form method="POST" action="{% url 'send' %}">
            {% for field in emailForm.visible_fields %}
            <div class="login_div2">
                <p>
                    {{ field.label }}
                    {{ field }}
                </p>
            </div>
            {% endfor %}
            <div class="login_div3">
                <input type="submit" value="Send"><br/>
            </div>
            {% csrf_token %}
         </form>   
    </div>
    {% endblock content %}
</body>
</html>